/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-vml-fixtures-instruct {
	.admin-fixture {
		background-color: #fff;
		clear: both;
	}
	.printButton {
		float: right;
	}
	h3 {
		color: #999;
		border-top: 3px solid #000;
		border-bottom: 3px solid #000;
		line-height: 1.75em;
		font-size: 1.75em;
		margin: 0;
		padding: 0;
	}
	.buttons-row {
		display: flex;
		flex-wrap: wrap;
		column-gap: 1em;
		row-gap: 1em;
		list-style: none;
		margin-top: 1em;
	}
	button {
		flex: 1;
		&.ui-checkboxradio-label.ui-state-active {
			background-color: #008fca !important;
			border-color: #0061a7 !important;
			color: #fff;
		}
	}
	.loading {
		width: 100%;
	}
	.shelf-title {
		margin: 0.2em 0;
		flex-wrap: wrap;
	}
	.move {
		border: 5px solid yellow;
	}
	.new {
		border: 5px solid#43b24b;
	}
	.keep {
		border: 5px solid transparent;
	}
	.delete {
		border: 5px solid red;
	}

	.face-shelf {
		display: flex;
		flex: 1;
		border-bottom: 2px dashed #000;

		.shelf-title {
			flex: 0.3;
			font-size: 1.8em;
		}
	}
	.face-shelf:last-child {
		border-bottom: none;
	}
	.shelf {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 0;
	}
	.group-position-8 {
		flex-basis: 100%;
	}
	.item-group {
		margin: 0 0.2em;

		.item {
			margin: 0.5em auto;
			background-size: cover;
			text-align: center;

			.smallp {
				font-size: 0.8em;
				margin: 0;
				line-height: 0.8em;
			}
		}
	}
	.panel-data-display .item-group {
		display: flex;
		flex-direction: column;
		padding: 0.2em;
	}
	.footer-instructions {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 1em 20% 0 20%;
	}
	p.text {
		text-align: center;
		margin: 0 15%;
	}
	p.clean {
		text-align: center;
	}

	textarea {
		width: 60%;
		margin: 1em auto 0 auto;
	}
	.print-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		img.left-image,
		img.right-image {
			width: 32%;
		}
		img.left-image {
			margin-left: 3%;
		}
		img.right-image {
			margin-right: 3%;
		}

		p.header-text {
			font-weight: bold;
			text-align: center;
			width: 28%;
			margin: 0 auto 5px auto;
			font-size: 1em;
			line-height: 1.3em;
		}
	}

	.textInput {
		width: 50%;
		margin-bottom: 5px;
		.inputFields {
			display: flex;
			justify-content: space-between;
			align-items: center;
			label {
				flex: 1;
				text-align: right;
				margin-right: 5px;
			}
			input {
				flex: 2;
			}
		}
	}
	.textInput p,
	.uploadPdf p {
		font-weight: bold;
		margin-top: 1em;
	}
	.onlyprint {
		display: none;
	}
	.face-data-display,
	.panel-data-display {
		position: relative;
		padding-bottom: 150px;
	}
	.footer-instructions-wrapper {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 150px;
	}
	hr {
		border: 2px solid #000;
	}
	.scale {
		float: right;
		text-align: center;
	}
	.react-pdf__Document {
		width: 200px;
	}
	.face-data-display {
		padding-top: 20px;
		page-break-inside: avoid;
	}
	.page-break {
		page-break-before: always;
	}

	.panel-data-display {
		padding-top: 20px;
		page-break-before: always;
		page-break-inside: avoid;
	}
}

@media print {
	.noprint,
	.ekit-template-content-header,
	.ekit-template-content-footer,
	.ekit-template-content-sidebar,
	.promotion_info,
	header.page-header {
		display: none;
	}
	.onlyprint {
		display: block !important;
	}
	body {
		background-color: white !important;
	}
	body:not([class*="elementor-page-"]) .site-main {
		max-width: 100% !important;
	}
	.wp-block-vml-fixtures-instruct {
		// .print-pdf {
		// 	page-break-after: always;
		// }
		.react-pdf__Document {
			margin-top: 3em;
			width: 100% !important;
		}

		.shelf {
			flex-grow: inherit;
		}
		.face-shelf {
			margin: 0 5%;
		}
		h3 {
			color: #999 !important;
			padding: 0 5%;
		}
		.footer-instructions-wrapper {
			margin-top: -150px;
			position: fixed;
		}
	}
}
