/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.modal-buttons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
button.addToCartBtn {
	display: inline-block;
	outline: 0;
	cursor: pointer;
	border: none;
	padding: 0 15px;
	height: 45px;
	line-height: 45px;
	border-radius: 7px;
	background-color: #0070f3;
	color: white;
	font-weight: 400;
	font-size: 16px;
	box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
	transition:
		background 0.2s ease,
		color 0.2s ease,
		box-shadow 0.2s ease;
	&:disabled {
		background: #4e4e4e;
		color: #eaeaea;
		box-shadow: none;
		cursor: not-allowed;
	}
}

.wp-block-vml-fixtures-store {
	.loading {
		width: 100%;
	}

	.store-fixture {
		display: flex;
		gap: 1em;
		.face-data-display {
			flex: 2;
		}
		.panel-data-display {
			flex: 1;
		}
	}

	.shelf-title {
		display: flex;
		flex-direction: row;
		margin: 0.2em;
		flex-wrap: wrap;
		h3 {
			flex-grow: 1;
			margin: 0;
		}
		margin-bottom: 5px;
	}
	.face-shelf {
		border: 1px solid #ccc;
		margin-bottom: 0.5em;
	}
	.footer-btn button {
		display: block;
		margin: 1em auto;
	}

	.shelf {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.group-position-8 {
		flex-basis: 100%;
	}
	.item-group {
		margin: 0 0.2em;

		.item {
			border: 1px solid #000;
			margin: 0.5em auto;
			background-size: cover;

			.smallp {
				font-size: 0.8em;
				margin: 0;
				line-height: 0.8em;
			}
			&:hover {
				cursor: pointer;
				border-color: #0070f3;
				opacity: 70%;
			}
		}
	}
}
