/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-vml-fixtures-admin {
	background-color: #f3f3f3;
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
	.shelf {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		border: 1px solid #ccc;
		.item {
			border: 1px solid #000;
			position: relative;
			margin: 0.5em 0;
			.smallp {
				font-size: 0.8em;
				margin: 0;
				line-height: 0.8em;
			}
			.details {
				opacity: 0;
				transition: opacity 0.3s;
				background-color: #333;
				color: #fff;
				position: absolute;
				top: 0.5em;
				left: 0.5em;
				width: max-content; /* Let the width adjust according to content */
				z-index: 10; /* To ensure it appears above other elements */
				padding: 10px;
				border-radius: 4px; /* Optional rounded corners */
				display: none; /* Initially hide it */
			}
			&:hover .details {
				opacity: 1;
				display: block; /* Show on hover */
			}
		}
	}
}
