/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-vml-fixtures-admin {
	// background-color: #f3f3f3;
	// border: 1px solid #ccc;
	// padding: 20px;
	// margin-bottom: 20px;
	.loading {
		width: 100%;
	}
	.admin-fixture {
		display: flex;
		gap: 1em;
		.face-data-display {
			flex: 2;
		}
		.panel-data-display {
			flex: 1;
		}
	}
	.shelf {
		display: flex;
		flex-wrap: wrap;
		border: 1px solid #ccc;
		align-items: center;
		justify-content: center;
		h3 {
			flex-basis: 100%;
			margin: 0 0 0 0.2em;
		}
		.group-position-8 {
			flex-basis: 100%;
		}
		.item-group {
			margin: 0 0.2em;

			.item {
				border: 1px solid #000;
				margin: 0.5em auto;
				background-size: cover;

				.smallp {
					font-size: 0.8em;
					margin: 0;
					line-height: 0.8em;
				}
			}
		}
	}
}
