/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-vml-fixtures {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
	.fix-header {
		display: flex;
		justify-content: center;
		.fix-header__left,
		.fix-header__right {
			flex-grow: 1;
		}
		.fix-header__fixture .SAI-img {
			background-image: url(../assets/SAI-endCap.jpg);
			background-size: contain;
			width: 287px;
			height: 396px;
		}
	}
	.endCap {
		.shelf1 {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: 1fr;
			gap: 0px 15px;
			grid-auto-flow: row;
			grid-template-areas: "shelf1-1 shelf1-2 shelf1-3 shelf1-4 shelf1-5";
			height: 300px;
			.shelf1-1 {
				grid-area: shelf1-1;
			}

			.shelf1-2 {
				grid-area: shelf1-2;
			}

			.shelf1-3 {
				grid-area: shelf1-3;
			}

			.shelf1-4 {
				grid-area: shelf1-4;
			}

			.shelf1-5 {
				grid-area: shelf1-5;
			}
		}
		.shelf2 {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
			gap: 15px 15px;
			height: 300px;
			.shelf2-1 {
				grid-area: 1 / 1 / 2 / 2;
			}
			.shelf2-2 {
				grid-area: 2 / 1 / 4 / 2;
			}
			.shelf2-3 {
				grid-area: 3 / 1 / 4 / 2;
			}
			.shelf2-4 {
				grid-area: 4 / 1 / 5 / 2;
			}
			.shelf2-5 {
				grid-area: 5 / 1 / 6 / 2;
			}
		}
	}
}
